html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -72px;
}

.push {
  height: 72px;
}

body {
  background: #fafafa;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h2 {
  font-size: 24px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

kbd {
  font-family: monospace,serif;
  font-size: 1em;
  color: #333;
  background-color: #fafafa;
  border-radius: 0;
  box-shadow: none;
  font-weight: bold;
  padding: 0;
}

.well {
  border-radius: 0;
}


#footer {
  margin-top: 15px;
  text-align: center;
}

#footer .well {
  margin-bottom: 0;
}

.ja {
  font-size: 13px;
}

.ja h2 {
  font-size: 20px;
}

.ja kbd {
  font-size: 16px;
}

