
body {
  background: #f8f8f8;
  color: #333;
  font-family: Georgia, serif;
  font-size: 16px;
}

h1 {
  color: #667378;
  font-size: 45px;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

kbd {
  background-color: #eee;
  font-family: monospace,serif;
  font-size: 1em;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  font-weight: bold;
  padding: 0 4px;
}

.container {
  background: #fff;
  padding: 20px 30px;
  width: 100%;
  max-width: 1170px;
}

.well {
  background: #f8f8f8;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}


#footer {
  margin-top: 20px;
  text-align: center;
}

#footer .well {
  margin-bottom: 0;
}

#footer p {
  margin-bottom: inherit;
}


.ja {
  font-size: 13px;
}

.ja h2 {
  font-size: 20px;
}

.ja kbd {
  font-size: 16px;
}

