<div >
  <div id="footer" class="grid-block">
    <div class="box">
      <div class="box-header">
        <h2 id="languages">Additional Resources</h2>
      </div>
      <div class="box-body">
        <div class="grid-block">
          <div class="grid-lg-1-2">
            <h3 id="languages">Languages</h3>
            <ul>
              {% for page in site.pages %}

              {% if page.title and page.title != "Code of Conduct" %}
              <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>

              {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="grid-lg-1-2">
            <h3>About the vim cheat sheet</h3>
            <p>This project aims to be one of the most accessible vim guides available. We made sure to support mobile, desktop, and other <a href="#languages">languages</a>.</p>
            <p>You can read about how to contribute (and help improve) by viewing our <a href="https://github.com/rtorr/vim-cheat-sheet/blob/master/README.md" target="_blank" rel="noopener">README</a>.
              There you can see how to set up this project, or how to contribute a new language. Here is a big thank you to our <a href="https://github.com/rtorr/vim-cheat-sheet/graphs/contributors" target="_blank" rel="noopener">contributors</a>!</p>
            <p>This project is licensed under <a href="https://github.com/rtorr/vim-cheat-sheet/blob/master/License.txt" target="_blank" rel="noopener">The MIT License (MIT)</a>.</p>
            <h3>Contributor Code of Conduct</h3>
            <p>This project strongly believes in having a code of conduct. <a href="/code_of_conduct/"> Please
                see the code of conduct page for more information.</a></p>
            <h3>Other places to find this document</h3>
            <p>This document was embedded in <a href="https://duckduckgo.com/?q=vim+cheat+sheet" target="_blank" rel="noopener">DuckDuckGo</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-block link-to-repo">
    <p>Checkout the source on <a href="https://github.com/rtorr/vim-cheat-sheet" target="_blank" rel="noopener">Github</a></p>
  </div>
</div>