<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Vim Cheat Sheet</title>
  <meta name="description" content="A mobile friendly VIM cheat sheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>
<div class="wrapper">
  <div class="clearfix">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h1>VIM</h1>
        </div>
      </div> <!-- end row -->
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <h2><%= cursorMovement.title %></h2>
          <ul>
            <li><kbd>h</kbd> - <%= cursorMovement.commands.h %></li>
            <li><kbd>j</kbd> - <%= cursorMovement.commands.j %></li>
            <li><kbd>k</kbd> - <%= cursorMovement.commands.k %></li>
            <li><kbd>l</kbd> - <%= cursorMovement.commands.l %></li>
            <li><kbd>w</kbd> - <%= cursorMovement.commands.w %></li>
            <li><kbd>W</kbd> - <%= cursorMovement.commands.W %></li>
            <li><kbd>e</kbd> - <%= cursorMovement.commands.e %></li>
            <li><kbd>E</kbd> - <%= cursorMovement.commands.E %></li>
            <li><kbd>b</kbd> - <%= cursorMovement.commands.b %></li>
            <li><kbd>B</kbd> - <%= cursorMovement.commands.B %></li>
            <li><kbd>0</kbd> - <%= cursorMovement.commands.zero %></li>
            <li><kbd>^</kbd> - <%= cursorMovement.commands.caret %></li>
            <li><kbd>$</kbd> - <%= cursorMovement.commands.dollar %></li>
            <li><kbd>G</kbd> - <%= cursorMovement.commands.G %></li>
            <li><kbd>5G</kbd> - <%= cursorMovement.commands.fiveG %></li>
          </ul>
          <div class="well">
            <small><strong>Tip</strong> <%= cursorMovement.tip %></small>
          </div>
          <h2><%= insertMode.title %></h2>
          <ul>
            <li><kbd>i</kbd> - <%= insertMode.commands.i %></li>
            <li><kbd>I</kbd> - <%= insertMode.commands.I %></li>
            <li><kbd>a</kbd> - <%= insertMode.commands.a %></li>
            <li><kbd>A</kbd> - <%= insertMode.commands.A %></li>
            <li><kbd>o</kbd> - <%= insertMode.commands.o %></li>
            <li><kbd>O</kbd> - <%= insertMode.commands.O %></li>
            <li><kbd>ea</kbd> - <%= insertMode.commands.ea %></li>
            <li><kbd>Esc</kbd> - <%= insertMode.commands.Esc %></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <h2><%= editing.title %></h2>
          <ul>
            <li><kbd>r</kbd> - <%= editing.commands.r %></li>
            <li><kbd>J</kbd> - <%= editing.commands.J %></li>
            <li><kbd>cc</kbd> - <%= editing.commands.cc %></li>
            <li><kbd>cw</kbd> - <%= editing.commands.cw %></li>
            <li><kbd>c$</kbd> - <%= editing.commands.cDollar %></li>
            <li><kbd>s</kbd> - <%= editing.commands.s %></li>
            <li><kbd>S</kbd> - <%= editing.commands.S %></li>
            <li><kbd>xp</kbd> - <%= editing.commands.xp %></li>
            <li><kbd>u</kbd> - <%= editing.commands.u %></li>
            <li><kbd>Ctrl</kbd> + <kbd>r</kbd> - <%= editing.commands.CtrlPlusr %></li>
            <li><kbd>.</kbd> - <%= editing.commands.dot %></li>
          </ul>
          <h2><%= markingText.title %></h2>
          <ul>
            <li><kbd>v</kbd> - <%= markingText.commands.v %></li>
            <li><kbd>V</kbd> - <%= markingText.commands.V %></li>
            <li><kbd>o</kbd> - <%= markingText.commands.o %></li>
            <li><kbd>Ctrl</kbd> + <kbd>v</kbd> - <%= markingText.commands.CtrlPlusv %></li>
            <li><kbd>O</kbd> - <%= markingText.commands.O %></li>
            <li><kbd>aw</kbd> - <%= markingText.commands.aw %></li>
            <li><kbd>ab</kbd> - <%= markingText.commands.ab %></li>
            <li><kbd>aB</kbd> - <%= markingText.commands.aB %></li>
            <li><kbd>ib</kbd> - <%= markingText.commands.ib %></li>
            <li><kbd>iB</kbd> - <%= markingText.commands.iB %></li>
            <li><kbd>Esc</kbd> - <%= markingText.commands.Esc %></li>
          </ul>
          <h2><%= visualCommands.title %></h2>
          <ul>
            <li><kbd>&#62;</kbd> - <%= visualCommands.commands.greaterThan %></li>
            <li><kbd>&#60;</kbd> - <%= visualCommands.commands.lessThan %></li>
            <li><kbd>y</kbd> - <%= visualCommands.commands.y %></li>
            <li><kbd>d</kbd> - <%= visualCommands.commands.d %></li>
            <li><kbd>~</kbd> - <%= visualCommands.commands.tilde %></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <h2><%= cutAndPaste.title %></h2>
          <ul>
            <li><kbd>yy</kbd> - <%= cutAndPaste.commands.yy %></li>
            <li><kbd>2yy</kbd> - <%= cutAndPaste.commands.twoyy %></li>
            <li><kbd>yw</kbd> - <%= cutAndPaste.commands.yw %></li>
            <li><kbd>y$</kbd> - <%= cutAndPaste.commands.yDollar %></li>
            <li><kbd>p</kbd> - <%= cutAndPaste.commands.p %></li>
            <li><kbd>P</kbd> - <%= cutAndPaste.commands.P %></li>
            <li><kbd>dd</kbd> - <%= cutAndPaste.commands.dd %></li>
            <li><kbd>2dd</kbd> - <%= cutAndPaste.commands.twodd %></li>
            <li><kbd>dw</kbd> - <%= cutAndPaste.commands.dw %></li>
            <li><kbd>D</kbd> - <%= cutAndPaste.commands.D %></li>
            <li><kbd>d$</kbd> - <%= cutAndPaste.commands.dDollar %></li>
            <li><kbd>x</kbd> - <%= cutAndPaste.commands.x %></li>
          </ul>
          <h2>Exiting</h2>
          <ul>
            <li><kbd>:w</kbd> - write (save) the file, but don't exit</li>
            <li><kbd>:wq</kbd> - write (save) and quit</li>
            <li><kbd>:x</kbd> -  write (save) and quit</li>
            <li><kbd>:q</kbd> - quit (fails if there are unsaved changes)</li>
            <li><kbd>:q!</kbd> - quit and throw away unsaved changes</li>
          </ul>
          <h2>Search and replace</h2>
          <ul>
            <li><kbd>/pattern</kbd> - search for pattern</li>
            <li><kbd>?pattern</kbd> - search backward for pattern</li>
            <li><kbd>n</kbd> - repeat search in same direction</li>
            <li><kbd>N</kbd> - repeat search in opposite direction</li>
            <li><kbd>:%s/old/new/g</kbd> - replace all old with new throughout file</li>
            <li><kbd>:%s/old/new/gc</kbd> - replace all old with new throughout file with confirmations</li>
          </ul>
        </div>
      </div> <!-- end row -->
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <h2>Working with multiple files</h2>
          <ul>
            <li><kbd>:e</kbd> filename - edit a file in a new buffer</li>
            <li><kbd>:bnext</kbd> or <kbd>:bn</kbd> - go to the next buffer</li>
            <li><kbd>:bprev</kbd> or <kbd>:bp</kbd> - go to the previous buffer</li>
            <li><kbd>:bd</kbd> - delete a buffer (close a file)</li>
            <li><kbd>:sp</kbd> filename - open a file in a new buffer and split window</li>
            <li><kbd>:vsp</kbd> filename - open a file in a new buffer and vertically split window </li>
            <li><kbd>Ctrl</kbd> + <kbd>ws</kbd> - split window</li>
            <li><kbd>Ctrl</kbd> + <kbd>ww</kbd> - switch windows</li>
            <li><kbd>Ctrl</kbd> + <kbd>wq</kbd> - quit a window</li>
            <li><kbd>Ctrl</kbd> + <kbd>wv</kbd> - split window vertically</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <h2>Tabs</h2>
          <ul>
            <li><kbd>:tabnew</kbd> filename or <kbd>:tabn</kbd> filename - open a file in a new tab</li>
            <li><kbd>Ctrl</kbd> + <kbd>wt</kbd>  - move the current split window into its own tab</li>
            <li><kbd>gt</kbd> or <kbd>:tabnext</kbd> or <kbd>:tabn</kbd>  - move to the next tab</li>
            <li><kbd>gT</kbd> or <kbd>:tabprev</kbd> or <kbd>:tabp</kbd>  - move to the previous tab</li>
            <li><kbd>#gt</kbd> - move to tab number #</li>
            <li><kbd>:tabmove #</kbd> - move current tab to the #th position (indexed from 0)</li>
            <li><kbd>:tabclose</kbd> or <kbd>:tabc</kbd> - close the current tab and all its windows</li>
            <li><kbd>:tabonly</kbd> or <kbd>:tabo</kbd> - close all tabs except for the current one</li>
          </ul>
        </div>
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end clearfix -->
  <div class="push"></div>
</div>
<div id="footer">
  <div class="well">
    <div class="container">
      <p class="muted credit">Checkout the source on <a href="https://github.com/rtorr/vim-cheat-sheet">Github</a></p>
    </div>
  </div>
</div>
</body>
</html>